# Python
venv/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Data
data/

# Great Expectations (for later)
great_expectations/uncommitted/

# Hydra output directory
outputs/
multirun/
